.list {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 0 20px;

  &--element {
    display: grid;
    grid-template-columns: auto 250px 50px;
    height: 60px;
    background-color: #fff;
    border: 1px #ccc;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    align-items: center;
  }

  &--element:hover {
    background-color: #fafafa;
  }

  &--title {
    color: #333;
    font-size: 13pt;

    &__black {
      color: black;
    }

    &__gray {
      color: #999;
    }
  }

  &--date {
    color: #333;
    font-size: 13pt;
  }
}

.fa {
  font-size: 24px !important;
}

.fa:hover {
  color: grey;
  cursor: pointer;
}
